//main slider
//- main slider
section(class="hero")
    div(class="owl-carousel owl-theme hero_carousel")
        div(class="item")
            img(src="images/slider/slider1.png", alt="images not found")
            div(class="cover")
                div(class="content")
                    div(class="header-content")
                         
                        h1 لقاء إرشادي بعنوان<br/>
                            | الشخصية الايجابية
                     
                        p ضمن خطة #جمعيه_الدعوه_بالخميس في تطوير منسوبيها
                            |    والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد
                            |    القحطاني في لقاء إرشادي بعنوان الشخصية الايجابية تخلل اللقاء
                            |    نقاش متبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء
                            |    تم تكريم ضيف اللقاء
                    div(class="hero_button")
                        a(class="btn btn-hero" href="#!") مشاهدة الخبر
                   
        div(class="item")
            img(src="images/slider/slider1.png", alt="images not found")
            div(class="cover")
                div(class="content")
                    div(class="header-content")
                         
                        h1 لقاء إرشادي بعنوان
                            | الشخصية الايجابية
                     
                        p ضمن خطة #جمعيه_الدعوه_بالخميس في تطوير منسوبيها
                            |    والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد
                            |    القحطاني في لقاء إرشادي بعنوان الشخصية الايجابية تخلل اللقاء
                            |    نقاش متبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء
                            |    تم تكريم ضيف اللقاء
                    div(class="hero_button")
                        a(class="btn btn-hero" href="#!") مشاهدة الخبر
    div(class="social_hero") 
        ul(class="list-unstyled")
            li 
                a(href="#!", target="_blank")
                    i(class="bi bi-facebook") 
            li 
                a(href="#!/", target="_blank")
                    i(class="bi bi-linkedin") 
            li 
                a(href="#!", target="_blank")
                    i(class="bi bi-twitter") 
            li 
                a(href="#!", target="_blank")
                    i(class="bi bi-instagram") 
            li 
                a(href="#!", target="_blank")
                    i(class="bi bi-youtube")             
//main slider


//about
section(class="about" id="about")
    div(class="container")
        div(class="content")
            .row 
                div(class="col-md-6  animate__animated  animate__fadeInRight")
                    div(class="image")
                        img(src="images/aboutus.png")
                div(class="col-md-6  animate__animated  animate__fadeInLeft")
                    div(class="main-title")
                        h2 نبذة عنا
                            
                        p كيا ٌن رسم ٌي مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و
                            |    تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية
                            |    تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين
                            |   مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم
                            |    ومذاهبهم ولغاتهم إلى وسطية الدين القويم، وتستمد منهجها من كتاب الله
                            |    وسنة رسوله الكريم معتمدًة بعد الله على الوسائل والأساليب الحديثة لإيصال
                            |    المعلومة الحقة (قل هذه سبيلي أدعو إلى الله على بصيرة أنا ومن اتبعني).
                        
            //- div(class="about-content")
            //-     div(class="about-text")
            //-         p بإستهداف لغالبية دول العالم العربي والغربي وفي الكثير من المجالات والصناعات المختلفة.
            //-             br
            //-             | مثل تأجير السيارات - بيع المنتجات (قطاعي وبالجملة) - المجال الطبي (عيادات أسنان والقلب وغيرها) - منتجات غذائية ديكور وتصميم داخلي - خرسانات مطبوعة - برامج وتطبيقات - العقارات  والكثير من المجالات الأخرى.
              
//news
section(class="latest_news")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2  اخر الاخبار
            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية وخدماتها
    div(class="news_carousel owl-theme owl-carousel")
        div(class="item")
            img(src="images/slider/slider1.png", alt="images not found")
            div(class="details")
                h3 لقاء إرشادي بعنوان الشخصية الايجابية
                p ضمن خطة #جمعيه_الدعوه_بالخميسفي تطوير منسوبيها والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد القحطاني في لقاء إرشادي بعنوان الشخصية
                    |    الايجابية تخلل اللقاء نقاشمتبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء تم تكريم ضيف اللقاء
            
        div(class="item")
            img(src="images/slider/slider1.png", alt="images not found")
            div(class="details")
                h3 لقاء إرشادي بعنوان الشخصية الايجابية
                p ضمن خطة #جمعيه_الدعوه_بالخميسفي تطوير منسوبيها والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد القحطاني في لقاء إرشادي بعنوان الشخصية
                    |    الايجابية تخلل اللقاء نقاشمتبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء تم تكريم ضيف اللقاء
        div(class="item")
            img(src="images/slider/slider1.png", alt="images not found")
            div(class="details")
                h3 لقاء إرشادي بعنوان الشخصية الايجابية
                p ضمن خطة #جمعيه_الدعوه_بالخميسفي تطوير منسوبيها والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد القحطاني في لقاء إرشادي بعنوان الشخصية
                    |    الايجابية تخلل اللقاء نقاشمتبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء تم تكريم ضيف اللقاء
            
//- video-activity

section(class="lessons")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2  اخر الاخبار
            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية وخدماتها
        div(class="lesson_cards")
            div(class="card lesson-card animate__animated  animate__fadeInRight")
                div(class="card-block")
                    div(class="embed-responsive embed-responsive-16by9")
                        iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/vlDzYIIOYmM",height="100%",width="100%" allowfullscreen)
            div(class="card   lesson-card")
                div(class="card-block")
                    div(class="embed-responsive embed-responsive-16by9")
                        iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/vlDzYIIOYmM",height="100%",width="100%" allowfullscreen)
            div(class="card lesson-card animate__animated  animate__fadeInRight")
                div(class="card-block")
                    div(class="embed-responsive embed-responsive-16by9")
                        iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/vlDzYIIOYmM",height="100%",width="100%" allowfullscreen)
            div(class="card lesson-card animate__animated  animate__fadeInRight")
                div(class="card-block")
                    div(class="embed-responsive embed-responsive-16by9")
                        iframe(class="embed-responsive-item", src="https://www.youtube.com/embed/vlDzYIIOYmM",height="100%",width="100%" allowfullscreen)
//- recommendtion
section(class="testimonial")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            h2 التزكيات
            p جلة من تزكيات شيوخنا الافاضل
        div(class="testi_carousel owl-carousel owl-theme")
            div(class="testimonial_card")
                figure
                    img(src="https://www.w3schools.com/w3images/avatar.jpg")
                div#main-testimonial
                    div
                        span(class="test-name") الشيخ العلامة عبدالله بن عبدالعزيز الجبرين
                    div
                        span(class="test-position") عضو الإفتاء سابقا
                    p
                        | سرني كثيرا ما اطلعت عليه من جهود دعوية مباركة في هذه الجمعية سواء ما يتعلق بدعوة الجاليات أو ما يتعلق بالأنشطة الدعوية الأخرى العامة والخاصة
                        |  بالشباب.
            div(class="testimonial_card")
                figure
                    img(src="https://www.w3schools.com/w3images/avatar.jpg")
                div#main-testimonial
                    div
                        span(class="test-name") الشيخ العلامة عبدالله بن عبدالعزيز الجبرين
                    div
                        span(class="test-position") عضو الإفتاء سابقا
                    p
                        | سرني كثيرا ما اطلعت عليه من جهود دعوية مباركة في هذه الجمعية سواء ما يتعلق بدعوة الجاليات أو ما يتعلق بالأنشطة الدعوية الأخرى العامة والخاصة
                        |  بالشباب.
            div(class="testimonial_card")
                figure
                    img(src="https://www.w3schools.com/w3images/avatar.jpg")
                div#main-testimonial
                    div
                        span(class="test-name") الشيخ العلامة عبدالله بن عبدالعزيز الجبرين
                    div
                        span(class="test-position") عضو الإفتاء سابقا
                    p
                        | سرني كثيرا ما اطلعت عليه من جهود دعوية مباركة في هذه الجمعية سواء ما يتعلق بدعوة الجاليات أو ما يتعلق بالأنشطة الدعوية الأخرى العامة والخاصة
                        |  بالشباب.

//- reports 
//- recommendtion
section(class="reports")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2 التقارير الدورية
            p ستجد في هذا القسم كل محاضرات ودروسالجمعية
        div(class="anuual")
            div(class="row")
                div(class="col-md-8")
                    div(class="card lesson-card animate__animated  animate__fadeInRight lesson-hover")
                        div(class="card-block")
                            div(class="image")
                                img(src="images/report1.png", alt="", srcset="")
                            div(class="details")
                                h3 التقارير السنوي ٢٠٢٤
                                p ضمن خطة #جمعيه_الدعوه_بالخميسفي تطوير منسوبيها والرقي بأداء العمل استضافت الجمعية الدكتور عبدالرحمن محمد القحطاني في
                                    |    لقاء إرشادي بعنوان الشخصية الايجابية تخلل اللقاء نقاشمتبادل في الجمع بين التنظير والتطبيق وفي نهاية اللقاء تم تكريم ضيف اللقاء
                div(class="col-md-4")
                    div(class="card lesson-card animate__animated  animate__fadeInRight lesson-hover")
                        div(class="card-block")
                            div(class="image")
                                img(src="images/report2.png", alt="", srcset="")
                            div(class="details")
                                h3 التقارير السنوي ٢٠٢٤
                                
                    div(class="card lesson-card animate__animated  animate__fadeInRight lesson-hover mt-3")
                        div(class="card-block")
                            div(class="image")
                                img(src="images/report3.png", alt="", srcset="")
                            div(class="details")
                                h3 التقارير السنوي ٢٠٢٤
                            
//services
//- ads 
div(class="ads")
    div(class="container")
        div(class="content")
           .row(class="align-items-center")
                .col-md-8
                        
                    div(class="text")
                        h4(class="h1") المتجر الالكتروني
                        p انتظروا افتتاح المتجر الالكتروني قريبا سيشمل خدمات ومنتجات مميزة
                .col-md-4
                    div(class="image")
                        img(src="images/goal.jpg", alt="", srcset="")

//- program 
section(class="programs")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2   برامج الجمعية
            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية وخدماتها
        div(class="d-flex align-items-center  program-tab")
            div#v-pills-tab(class="nav flex-column nav-pills", role="tablist", aria-orientation="vertical")
                button#tab1-tab(class="nav-link active", data-bs-toggle="pill", data-bs-target="#tab1", type="button", role="tab", aria-controls="tab1", aria-selected="true") إدارة الدعوة
                button#tab2-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab2", type="button", role="tab", aria-controls="tab2", aria-selected="false") إدارة الدعوة الالكترونية
                button#tab3-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab3", type="button", role="tab", aria-controls="tab3", aria-selected="false") إدارة دعوة الجاليات
                button#tab4-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab4", type="button", role="tab", aria-controls="tab4", aria-selected="false") إدارة العلاقات العامة والإعلام
                button#tab5-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab5", type="button", role="tab", aria-controls="tab5", aria-selected="false") الإدارة الشبابية
                button#tab6-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab6", type="button", role="tab", aria-controls="tab6", aria-selected="false") وحدة المتطوعين
                button#tab7-tab(class="nav-link", data-bs-toggle="pill", data-bs-target="#tab7", type="button", role="tab", aria-controls="tab7", aria-selected="false") البرامج الموسمية
            div#v-pills-tabContent(class="tab-content")
                div#tab1(class="tab-pane fade show active", role="tabpanel", aria-labelledby="tab1-tab") 
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            

                div#tab2(class="tab-pane fade", role="tabpanel", aria-labelledby="tab2-tab") 
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                div#tab3(class="tab-pane fade", role="tabpanel", aria-labelledby="tab3-tab") .
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                div#tab4(class="tab-pane fade", role="tabpanel", aria-labelledby="tab4-tab") 
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                div#tab5(class="tab-pane fade", role="tabpanel", aria-labelledby="tab5-tab") 
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")

                div#tab6(class="tab-pane fade", role="tabpanel", aria-labelledby="tab6-tab") 
                    div(class="tab-pane-section")
                        div(class="tab-header")
                            h3 برامج ادارة الدعوة
                            p ستجد في هذا القسم كل الاخبار الجديدة المتعلقة بالجمعية
                        div(class="tab-details")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
                            div(class="program-box")
                                div(class="icon")
                                    i(class="bi  bi-card-checklist")
                                div(class="content")
                                    span العناية بطلاب المنح الجامعية
                                    p برنامج يهدف إلى تطوير الجوانب المساندة
                                div(class="icon_link")
                                    i(class="bi bi-chevron-left")
               


//- statstics
section(class="statstics")
    div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2   إحصائيات الجمعية
            p كل رقم له قصة نجاح
        div(class="content")
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد
            div(class="statstics_card")
                h2(class="h1") 3000000
                p مستفيد

//- events 
section(class="events")
     div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            span كن على اطلاع بجديدنا
            h2   فعاليات الجمعية
            p ستجد في هذا القسم كل الفعاليات الجديدة المتعلقة بالجمعية وكيفية الاستفادة منها
        div(class="events-content mt-5")
            div(class="row")
                div(class="box col-lg-4 col-md-6")
                    div(class="event-box")
                        div(class="image")
                            img(src="images/d.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق على محركات البحث
                            span(class="date") 
                                i(class="bi bi-calendar")
                                p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                            p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                div(class="box col-lg-4 col-md-6")
                    div(class="event-box")
                        div(class="image")
                            img(src="images/d.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق على محركات البحث
                            span(class="date") 
                                i(class="bi bi-calendar")
                                p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                            p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                div(class="box col-lg-4 col-md-6")
                    div(class="event-box")
                        div(class="image")
                            img(src="images/d.png" class="img-fluid")
                        div(class="text")
                            h3(class="subtitle") التسويق على محركات البحث
                            span(class="date") 
                                i(class="bi bi-calendar")
                                p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                            p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
            div(class="show_all_btn m-auto text-center mt-5")
                a(class="btn btn-outline")   مشاهدة كل الفعاليات

//- clients 
section(class="clients")
     div(class="container")
        div(class="section-title  animate__slideInUp  animate__animated")
            h2   شركاء النجاح
            p منكم نستمد نجاحنا ونصبو الى رفعة هذا الدين
        div(class="clients_carousel owl-theme owl-carousel mt-3")
            div(class="clients-box")
                img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/04.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/02.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/01.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/03.png", class="img-fluid" alt="")
            div(class="clients-box")
                img(src="images/clients/04.png", class="img-fluid" alt="")

//- section(class="services " id="services")
//-     div(class="container")
//-         div(class="main-title")
//-             h2 خدماتنا
//-                 span(class="line")
//-         div(class="services-content")
//-             div(class="row")
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/01.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التسويق على محركات البحث
//-                             p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/02.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") رفع ترتيب المواقع في محركات البحث
//-                             p(class="details") من خلال البحث الدقيق عن الكلمات الرئيسية وممارسات القبعة البيضاء ، يمكننا مساعدتك في تحقيق تصنيفات عالية في محركات البحث الرئيسية.
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/03.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") تصميم وتطوير المواقع الإلكترونية
//-                             p(class="details") مع ملايين المواقع على الإنترنت التي تريدها للتأكد من تميز موقع الويب الخاص بك ، يمثلك جيدًا ، والأهم من ذلك تساعد مؤسستك على النمو.
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/04.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التسويق على المواقع الإلكترونية
//-                             p(class="details") يوجد أكثر من مليوني موقع على شبكة جوجل ديسبلاي ، والتي تصل إجمالاً إلى أكثر من 90٪ من جميع مستخدمي الإنترنت. يتم عرض اعلان جوجل ديسبلاي  في جميع المدونات والمنشورات والتطبيقات الرئيسية  مما يجعل جوجل ديسبلاي  أداة ممتازة للوصول إلى العملاء المناسبين في الوقت المناسب
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/05.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التسويق عبر مواقع التواصل الإجتماعي
//-                             p(class="details") يقضي مستخدمو وسائل التواصل الاجتماعي ثلاث ساعات في المتوسط يوميًا في التصفح المنصات المفضلة لديهم ، مما يجعل التسويق عبر وسائل التواصل الاجتماعي استراتيجية إعلانية فعالة لتنمية العملاء المحتملين والمشاركة مع مجتمعك المحلي. عبر القنوات الشهيرة مثل Facebook و Instagram و LinkedIn و Twitter و .snapchat و tiktok والمزيد
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/06.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التسويق بالبريد الإلكتروني
//-                             p(class="details") هو واحد من أقدم وأفضل استراتيجيات التسويق الإلكتروني يمكنك من خلاله الحصول على زوار في غاية الاستهداف سواء لموقع شركتك أو متجرك الإلكتروني.
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/07.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") إدارة حسابات وسائل التواصل الإجتماعي
//-                             p(class="details") دع الخبراء يتعاملون مع حسابات وسائل التواصل الاجتماعي الخاصة بك من مشاركة المتابعين إلى المجتمع الإدارة ، جمهورك في أيد أمينة
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/08.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التصميمات وهوية العلامة التجارية
//-                             p(class="details") تصميمات احترافية سواءا لهوية العلامة التجارية من لوجو وغلاف الى المنشورات التميزة بأحدث وأقوى تقنيات التصميم.
//-                 div(class="box col-lg-4 col-md-6")
//-                     div(class="services-box")
//-                         div(class="icon")
//-                             img(src="images/services/09.png" class="img-fluid")
//-                         div(class="text")
//-                             h3(class="subtitle") التحليلات والتقارير
//-                             p(class="details") تحيلات للسوق وموقعنا في المنافسة بشكل منتظم وتقارير دورية لأداء الحملات الإعلانية وضعها بين المنافسين وما تحققه من أرقام من مرات ظهور وتفاعل طوال فترة الحملة الإعلانية
//- //services

//- //clients
//- section(class="clients" id="clients")
//-     div(class="container")
//-         div(class="main-title")
//-             h2 من عملائنا
//-                 span(class="line")
//-             //- p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Labore sunt nobis consectetur ab aut, temporibus magnam voluptates corporis reiciendis laudantium vel, nihil itaque at id, maxime expedita exercitationem tenetur
//-         div(class="clients-content")
//-             div(class="clients-box")
//-                 img(src="images/clients/01.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/02.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/03.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/04.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/05.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/06.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/07.png", class="img-fluid" alt="")
//-             div(class="clients-box")
//-                 img(src="images/clients/08.png", class="img-fluid" alt="")
//- //clients

//- //contact us
//- section(class="contact" id="contact")
//-     div(class="container")
//-         div(class="content")
//-             div(class="contact-form")
//-                 div(class="main-title")
//-                     h2 تواصل معنا
//-                         span(class="line")
//-                 form(action="send.php" method="POST")
//-                     div(class="row")
//-                         div(class="col-lg-6")
//-                             div(class="form-group")
//-                                 label(for="") الاسم *
//-                                 input(type="text" name="name" class="form-control" placeholder="الاسم" required)
//-                         div(class="col-lg-6")
//-                             div(class="form-group")
//-                                 label(for="") البريد الإلكتروني *
//-                                 input(type="email" name="email" class="form-control" placeholder="البريد الإلكتروني" required)
//-                         div(class="col-lg-12")
//-                             div(class="form-group")
//-                                 label(for="") الهاتف *
//-                                 input(type="number" name="phone" class="form-control" placeholder="الهاتف" required)
//-                         div(class="col-lg-12")
//-                             div(class="form-group")
//-                                 label(for="") الرسالة *
//-                                 textarea(class="form-control" name="message" rows="5" placeholder="اترك رسالتك هنا")
//-                     div(class="contact-btn")
//-                         button(class="btn" type="submit") إرسال الآن
//- //contact us