extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 عن الجمعية
                section(class="main_content") 
                    div(class="section_content")
                        h5 تعريف عام
                        p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم ومذاهبهم ولغاتهم إلى وسطية الدين القويم، وتستمد منهجها من كتاب الله وسنة رسوله الكريم معتمدةً بعد الله على الوسائل والأساليب الحديثة لإيصال المعلومة الحقة (قل هذه سبيلي أدعو إلى الله على بصيرة أنا ومن اتبعني).
                    div(class="section_content")
                        h5 رؤية الجمعية
                        p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم ومذاهبهم ولغاتهم إلى وسطية الدين القويم، وتستمد منهجها من كتاب الله وسنة رسوله الكريم معتمدةً بعد الله على الوسائل والأساليب الحديثة لإيصال المعلومة الحقة (قل هذه سبيلي أدعو إلى الله على بصيرة أنا ومن اتبعني).
                    div(class="section_content")
                        h5 رسالة الجمعية
                        p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم ومذاهبهم ولغاتهم إلى وسطية الدين القويم، وتستمد منهجها من كتاب الله وسنة رسوله الكريم معتمدةً بعد الله على الوسائل والأساليب الحديثة لإيصال المعلومة الحقة (قل هذه سبيلي أدعو إلى الله على بصيرة أنا ومن اتبعني).
