extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2  اتصل بنا
                div(class="contact-card")
                    div(class="content")
                        img(src="images/icons/envelope.png")
                        h5 0966540430000
                    div(class="content")
                        img(src="images/icons/fax.png")
                        h5.email   info@islamdeen.com
                    div(class="content")
                        img(src="images/icons/map.png")
                        h5   طريق الملك فهد، المعزاب،  خميس مشيط 62456
                div(class="contact-form mt-3 p-5")
                    div(class="image")
                        img(src="images/logo.png")
                    div(class="row")
                        div(class="col-md-4")
                            div(class="contact-way")
                                div(class="block mt-3 mb-3")
                                    h5 للاقتراحات والشكاوي
                                    div(class="info")
                                        p التواصل على البريد التالي
                                        span info@islamdeen.com
                                    div(class="info")
                                        p  او الاتصال غلى الجوال
                                        span 0540437879
                                    div(class="social-media  mt-5")
                                        ul 
                                            li 
                                                a(href="#!", target="_blank")
                                                    i(class="bi bi-facebook") 
                                            li 
                                                a(href="#!/", target="_blank")
                                                    i(class="bi bi-linkedin") 
                                            li 
                                                a(href="#!", target="_blank")
                                                    i(class="bi bi-twitter") 
                                            li 
                                                a(href="#!", target="_blank")
                                                    i(class="bi bi-instagram") 
                                            li 
                                                a(href="#!", target="_blank")
                                                    i(class="bi bi-youtube") 
                        div(class="col-md-8")    
                            form(class="row")
                                div(class="col-md-6")
                                    input(type="text" class="form-control" name="name" id="name" placeholder="الاسم بالكامل")
                                
                                div(class="col-md-6")
                                    input(type="email" class="form-control" name="email" id="email" placeholder="اكتب البريد بالكامل")
                                div(class="col-md-6")
                                    input(type="text" class="form-control" name="typemmessage" id="typemmessage" placeholder="  نوع المرسلة")
                                div(class="col-md-6")
                                    input(type="text" class="form-control" name="subject" id="subject" placeholder="الموضوع")
                                div(class="col-md-12")
                                    textarea(type="text" rows="5" cols="12" class="form-control" name="message" id="message" placeholder="الرسالة")
                                div(class="col-md-12")
                                    div(class="buttons")
                                        input(class="btn btn-outline" type="submit" value="ارسال")
                                  
                                  
