extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 فعاليات الجامعة
                div(class="events-content mt-5")
                    div(class="row")
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box")
                                div(class="image")
                                    img(src="images/d.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                    p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.