extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 فعاليات الجمعية
                div(class="lesson_cards mt-5")
                    div(class="card lesson-card animate__animated  animate__fadeInRight")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                    div(class="card   lesson-card")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                    div(class="card lesson-card animate__animated  animate__fadeInRight")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                    div(class="card lesson-card animate__animated  animate__fadeInRight")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                    div(class="card lesson-card animate__animated  animate__fadeInRight")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.
                    div(class="card lesson-card animate__animated  animate__fadeInRight")
                        div(class="card-block")
                            div(class="embed-responsive embed-responsive-16by9")
                                iframe(width="100%", height="100%", src="https://www.youtube.com/embed/KPdfXdSvmJU?si=FBOeJBWS4YiW-KWq", title="YouTube video player", frameborder="0", allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share", allowfullscreen)
                            div(class="text")
                                h3(class="subtitle") فعاليات اليوم الوطني
                                span(class="date") 
                                    i(class="bi bi-calendar")
                                    p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                p(class="details") الحملات الإعلانية على محركات البحث وبالأخص جوجل تتيح لك الظهور مباشرة للعميل المحتمل لك والذي يبحث عن خدمتك بالتحديد فما تستثمره يعود اليك بزيارات لموقعك وتواصل مباشر معك من العملاء المستهدفين وتعتبر من أفضل طرق التسويق الفعالة.