extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2  الأخبار
                div(class="row")
                    .col-md-12
                        div(class="news-box")
                            div(class="image")
                                img(src="images/news1.png" ,alt="")
                            div(class="content")
                                h4
                                    a(href="#!") إعلان سلسلة كلمات
                                span(class="date")
                                    i(class="bi bi-calender")
                                    | 2023-09-06
                                p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم 
                                div(class="buttons")
                                    a(class="btn btn-outline" href="#!") قراءة المزيد
                        div(class="news-box")
                            div(class="image")
                                img(src="images/news1.png" ,alt="")
                            div(class="content")
                                h4
                                    a(href="#!") إعلان سلسلة كلمات
                                span(class="date")
                                    i(class="bi bi-calender")
                                    | 2023-09-06
                                p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم 
                                div(class="buttons")
                                    a(class="btn btn-outline" href="#!") قراءة المزيد
                        div(class="news-box")
                            div(class="image")
                                img(src="images/news1.png" ,alt="")
                            div(class="content")
                                h4
                                    a(href="#!") إعلان سلسلة كلمات
                                span(class="date")
                                    i(class="bi bi-calender")
                                    | 2023-09-06
                                p جمعية الدعوة والإرشاد وتوعية الجاليات بخميس مشيط كيانٌ رسميٌ مستقل تحت إشراف وزارة الموارد البشرية والتنمية الاجتماعية و تهدف إلى: الدعوة إلى الله بالحكمة والموعظة الحسنة والاسهام في تلبية تطلعات ولاة الأمر في نشر رسالة الإسلام الخالدة وقيمه وآدابه السمحة بين مختلف شرائح المجتمع وكذلك تهتم في توعية ودعوة الوافدين بمختلف دياناتهم 
                                div(class="buttons")
                                    a(class="btn btn-outline" href="#!") قراءة المزيد