extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 اصدارات الجمعية 
                div(class="events-content mt-5")
                    div(class="row")
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box download-box")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-eye")
                                        p 200
                                div(class="desc")
                                    p لم تتوقف أحلامنا مُنذ بدأت هذه الدولة، واليوم نجدد الحب والولاء للأرض المعطاءة بعد مرور 93 عام على توحيد السعودية
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        i(class="bi bi-download")
                                        | تحميل الكتاب