extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 فعاليات اليوم الوطني
                section(class="main_content") 
                    div(class="section_content single-news")
                        div(class="image")
                            img(src="images/slider/slider1.png", alt="", srcset="")
                        div(class="event-info")
                            div(class="date") 
                                img(src="images/icons/calendar-alt.png", alt="", srcset="")
                                p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                            div(class="date") 
                                img(src="images/icons/microphone-alt.png", alt="", srcset="")
                                p فضيلة الشيخ عبد الرحمن السديس
                            div(class="date") 
                                img(src="images/icons/sitemap.png", alt="", srcset="")
                                p طلاب الجامعة - طلاب ثانوي - الشباب
                            div(class="date") 
                                img(src="images/icons/warehouse.png", alt="", srcset="")
                                p قاعة المؤتمرات - المركز الرئيسي
                        p   برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة 
                            |  برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي برنامج يهدف إلى تطوير الجوانب المساندة والمعينة لطلاب المنح الجامعية في ممارسة الدعوة إلى الله وإيصال الرسالة الوسطي 