extends index 
block home_block
    div(class="page_section")
        div(class="main-bredcrumb main-nav")
            div(class="container")
                h2 فعاليات الجمعية 
                div(class="events-content mt-5")
                    div(class="row")
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                 
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                 
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                div(class="buttons")
                                    button(class="btn btn-secondary") 
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        | تطوع الان 
                        div(class="box col-lg-4 col-md-6")
                            div(class="event-box ")
                                div(class="image")
                                    img(src="images/book.png" class="img-fluid")
                                div(class="text")
                                    h3(class="subtitle") التسويق على محركات البحث
                                    span(class="date") 
                                        i(class="bi bi-calendar")
                                        p الثلاثاء, 26 2023 Oct - الخميس, 31 2023 Oc
                                div(class="buttons")
                                    button(class="btn btn-secondary")
                                        | تطوع الان 